.metadata/.lock
.metadata/.log
.metadata/version.ini
.metadata/.plugins/org.eclipse.cdt.core/.log
.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp
.metadata/.plugins/org.eclipse.core.resources/.snap
.metadata/.plugins/org.eclipse.core.resources/.history/11/1098a52be42200171df9dbd43eae92c5
.metadata/.plugins/org.eclipse.core.resources/.history/18/807cadde732400171bbbf7aa1edf2f1a
.metadata/.plugins/org.eclipse.core.resources/.history/24/30767d8ae6220017154787c351bbaeac
.metadata/.plugins/org.eclipse.core.resources/.history/3d/10a9cd33e9220017154787c351bbaeac
.metadata/.plugins/org.eclipse.core.resources/.history/3d/c0b2b349e8220017154787c351bbaeac
.metadata/.plugins/org.eclipse.core.resources/.history/59/708a48e9e5220017154787c351bbaeac
.metadata/.plugins/org.eclipse.core.resources/.history/61/7080ca26e5220017154787c351bbaeac
.metadata/.plugins/org.eclipse.core.resources/.history/65/a0948925e8220017154787c351bbaeac
.metadata/.plugins/org.eclipse.core.resources/.history/6a/f0125725e8220017154787c351bbaeac
.metadata/.plugins/org.eclipse.core.resources/.history/86/b0323836e42200171df9dbd43eae92c5
.metadata/.plugins/org.eclipse.core.resources/.history/97/0011e517e6220017154787c351bbaeac
.metadata/.plugins/org.eclipse.core.resources/.history/a0/60305364e8220017154787c351bbaeac
.metadata/.plugins/org.eclipse.core.resources/.history/b1/30491f58e5220017154787c351bbaeac
.metadata/.plugins/org.eclipse.core.resources/.history/d8/60698b25e8220017154787c351bbaeac
.metadata/.plugins/org.eclipse.core.resources/.history/e7/9026fb49e9220017154787c351bbaeac
.metadata/.plugins/org.eclipse.core.resources/.history/e8/b077ec41e9220017154787c351bbaeac
.metadata/.plugins/org.eclipse.core.resources/.projects/java_algorithm_data/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/java_algorithm_data/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/java_algorithm_data/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/java_algorithm_data/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/java_algorithm_data/.indexes/e4/37/history.index
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.root/3.tree
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/ccw.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.adobe.flexide.as.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.adobe.flexide.css.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.adobe.flexide.mxml.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.android.ide.eclipse.adt.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.dubture.twig.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.github.eclipsecolortheme.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.palantir.typescript.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.powerflasher.fdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.puppetlabs.geppetto.module.dsl.Module.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.puppetlabs.geppetto.pp.dsl.PP.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.spket.js.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.spket.xml.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/de.walware.statet.base.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/de.walware.statet.r.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/eclihx.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/goclipse.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/jp.gr.java_conf.ussiy.app.propedit.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/jsonedit-core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/net.sf.eclipsefp.haskell.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/net.sourceforge.texlipse.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/net.vtst.ow.eclipse.less.Less.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.cfeclipse.cfml.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.chromium.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.cloudsmith.geppetto.pp.dsl.PP.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.codehaus.groovy.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.dadacoalition.yedit.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.angularjs.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ant.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.debug.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.make.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.datatools.sqltools.sqleditor.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.dltk.ruby.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.dltk.tcl.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.e4.CSS.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.e4.ui.css.swt.theme.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.mpc.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.jsp.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.pde.api.tools.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.pde.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.php.server.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.php.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.cvs.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.css.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.dtd.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.html.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.xml.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.xsl.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.xtend.core.Xtend.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.epic.perleditor.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.erlide.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.jboss.ide.eclipse.freemarker.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.nodeclipse.enide.editors.gradle.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.nodeclipse.enide.editors.jade.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.python.pydev.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.scala-ide.play2.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.scala-ide.sdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.sourceforge.jsonedit.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.sweetlemonade.eclipse.json.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/winterwell.markdown.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/main.launch
.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.dltk.core/Containers.dat
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/1271342938.index
.metadata/.plugins/org.eclipse.jdt.core/1334622778.index
.metadata/.plugins/org.eclipse.jdt.core/1384487945.index
.metadata/.plugins/org.eclipse.jdt.core/156905802.index
.metadata/.plugins/org.eclipse.jdt.core/1572325224.index
.metadata/.plugins/org.eclipse.jdt.core/1819685514.index
.metadata/.plugins/org.eclipse.jdt.core/1833648217.index
.metadata/.plugins/org.eclipse.jdt.core/216496041.index
.metadata/.plugins/org.eclipse.jdt.core/2535718965.index
.metadata/.plugins/org.eclipse.jdt.core/2545238116.index
.metadata/.plugins/org.eclipse.jdt.core/2754424148.index
.metadata/.plugins/org.eclipse.jdt.core/2835230672.index
.metadata/.plugins/org.eclipse.jdt.core/2865898160.index
.metadata/.plugins/org.eclipse.jdt.core/3266567714.index
.metadata/.plugins/org.eclipse.jdt.core/3302703152.index
.metadata/.plugins/org.eclipse.jdt.core/3321539481.index
.metadata/.plugins/org.eclipse.jdt.core/3676725848.index
.metadata/.plugins/org.eclipse.jdt.core/3712507179.index
.metadata/.plugins/org.eclipse.jdt.core/3914475439.index
.metadata/.plugins/org.eclipse.jdt.core/4090657612.index
.metadata/.plugins/org.eclipse.jdt.core/4112856711.index
.metadata/.plugins/org.eclipse.jdt.core/430844602.index
.metadata/.plugins/org.eclipse.jdt.core/639694709.index
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/indexNamesMap.txt
.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2017/4/16/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2017/4/16/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/java_algorithm_data/2017/4/16/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/java_algorithm_data/2017/4/16/refactorings.index
.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/dom5.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js
.metadata/.plugins/org.eclipse.wst.jsdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.wst.jsdt.ui/QualifiedTypeNameHistory.xml
java_algorithm_data/.classpath
java_algorithm_data/.project
java_algorithm_data/.settings/org.eclipse.jdt.core.prefs
